@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/line.css" />

<div class="text-center">
    <h1 class="display-4">Welcome <span class="fw-bold">@ViewData["Title"]</span></h1>
    <div class="line-normal"></div>
</div>
