@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><span class="fw-bold">This privacy policy Store Video</span> will help you understand how i uses and protects the data you provide to us when you visit and use my website.</p>

<p>
    I am reserve the right to change this policy at any given time, of which you will be promptly updated. If you want to make sure that you are up to date with the latest changes, we advise you to frequently visit this page.
</p>
<p class="fw-bold">
    What User Data We Collect
</p>
<p class="fw-bolder">
    When you visit the blog, we may collect the following data:
</p>
<ul>
    <li>
        Your IP address.
    </li>
    <li>
        Your contact email address.
    </li>
    <li>
        Other information such as interests and preferences.
    </li>
    <li>
        Data profile regarding your online behavior on our blog.
    </li>
</ul>
<p class="fw-bold">
    Why We Collect Your Data
</p>
<p class="fw-bolder">
    We are collecting your data for several reasons:
</p>
<ul>
    <li>
        To better understand your needs.
    </li>
    <li>
        To improve our services and products.
    </li>
    <li>
        To send you promotional emails containing the information we think you will find interesting.
    </li>
    <li>
        To contact you to fill out surveys and participate in other types of market research.
    </li>
    <li>
        To customize our blog according to your online behavior and personal preferences.
    </li>
</ul>

